<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#">home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">about</a>
                    </li>
                  
                   
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Move Into Being, LLC. - All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</footer>
